h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}
.main_content{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: white;
    margin-top: -2rem;
    height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.main_content a{
    color: #333;
    text-decoration: none;
}
.navbar_home,
.navbar_page{
    background: #EB3349;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}
.dash_card{
    background-color: #f3f3f3;
    border-radius: 20px
}

.dash_card img{
    height: 4rem;
}
a{
    text-decoration: none;
}
.btn-custom{
    border: 2px solid #EB3349;
    color: #EB3349;
}
.fab{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.dropdown{
    transform: translateY(-12px);
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: transparent;
}